# Node modules
node_modules/

# Build output
.vitepress/dist/

# Temp files
.vitepress/cache/
dist/
*.log

# MacOS / Windows / Linux system files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# IDE/editor files
.vscode/
.idea/
*.swp